.fable/
.fake/
.vs/
obj/
bin/
packages/
paket-files/
node_modules/
src/Client/public/js/
release.cmd
release.sh
.idea/
*.orig
*.DotSettings.user
deploy
.ionide/

// secrets, eg should never commit a ssl certificate to the repo, or the appsettings containing secrets
*.pfx
src/Server/appsettings.json
